/*Media queries*/
body {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

section {
  padding: 2.5rem 2.5rem;
  height: auto;
}

.indent {
  text-indent: 5%;
}

.bloc-title {
  margin: 1rem 0;
}

.bloc-txt {
  margin-bottom: 2rem;
  line-height: 1.8;
}

.bloc-txt--center {
  text-align: center;
  margin-bottom: 1rem;
}

body {
  font-family: "Cormorant", serif;
  font-size: 22px;
  font-weight: 500;
}
@media screen and (max-width: 592px) {
  body {
    font-size: 16px;
  }
}

h1,
p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.heading {
  font-size: 5rem;
  font-weight: 400;
  text-transform: capitalize;
  font-style: italic;
}
@media screen and (max-width: 592px) {
  .heading {
    font-size: 4rem;
  }
}

.subheading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}
@media screen and (max-width: 592px) {
  .subheading {
    font-size: 1.5rem;
  }
}

.title {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: italic;
}

.subtitle {
  font-weight: 500;
  color: black;
  font-size: 1.8rem;
  font-style: italic;
}

p {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, a:focus {
  color: rgb(174, 159, 159);
}

nav {
  font-style: italic;
}

.strong {
  font-weight: 700;
}

.txt {
  color: #333030;
  text-indent: 5%;
}
.txt--large {
  font-size: 26px;
}
.txt--italic {
  font-style: italic;
}

.emphase {
  font-style: italic;
  font-weight: bold;
  color: red;
}

header {
  margin: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(174, 159, 159);
}
@media screen and (max-width: 592px) {
  header {
    margin: 1rem;
  }
}

.logo-container {
  height: 120px;
  padding: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 592px) {
  .logo-container {
    height: 80px;
  }
}
@media screen and (max-width: 592px) {
  .logo-container {
    height: 60px;
  }
}

.nav {
  display: flex;
}
.nav__link {
  margin-left: 1.5rem;
}
@media screen and (max-width: 592px) {
  .nav__link {
    display: none;
  }
}

.nav__link--bull {
  position: relative;
}
.nav__link--bull:hover:after, .nav__link--bull:focus:after {
  content: attr(aria-label);
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  font-weight: bold;
  color: #333030;
  font-size: 16px;
}

.dropdown {
  display: none;
}
@media screen and (max-width: 592px) {
  .dropdown {
    display: block;
    margin-right: 2.5em;
  }
}
.dropdown__btn {
  font-size: 30px;
  cursor: pointer;
}
.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  right: -1.5em;
  list-style-type: none;
  background-color: antiquewhite;
  padding: 0;
  margin: 2px 1.5em 0 0;
}
.dropdown__input {
  display: none;
}
.dropdown__input:hover + .dropdown__menu, .dropdown__input:checked + .dropdown__menu {
  display: block;
  display: flex;
  flex-direction: column;
}
.dropdown__menu li {
  padding: 10px 20px;
  text-align: left;
  font-style: italic;
  border-bottom: #333030 solid 0.5px;
}

.homepage__txt {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: auto;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.homepage__txt .subheading {
  margin-bottom: 2rem;
}
.homepage__txt p {
  font-size: 24px;
  font-weight: 400;
}
.homepage__img-container {
  width: 80%;
  margin: auto;
}

img {
  border: 6px solid white;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#img--1 {
  width: 80%;
  position: relative;
  left: 5%;
}

#img--2 {
  position: relative;
  top: -30px;
  left: 50%;
  z-index: 1;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#img--3 {
  position: relative;
  top: -150px;
  left: 18%;
  z-index: 0;
  width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
}

.link--contact {
  color: #333030;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px solid rgb(174, 159, 159);
}
.link--mail {
  font-style: italic;
}

.lang__link {
  width: 26px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  border: none;
  background: none;
  padding: none;
}/*# sourceMappingURL=main.css.map */