/*Media queries*/
body {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

section {
  padding: 2.5rem 2.5rem;
  height: auto;
}

.indent {
  text-indent: 5%;
}

.wrapper--grid {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 2rem;
}
.wrapper--grid-inverse {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 2rem;
}
.wrapper--grid-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  overflow-wrap: break-word;
}
.wrapper--grid--3col {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}
.wrapper--center {
  margin: auto;
  width: 85fr;
}

.bloc-title {
  margin: 1rem 0;
}

.bloc-txt {
  margin-bottom: 2rem;
  line-height: 1.8;
  text-align: justify;
}

.bloc-txt--center {
  text-align: center;
  margin-bottom: 1rem;
}

.bloc-bull {
  background-color: rgb(217, 195, 166);
  border-radius: 5%;
  padding: 1rem 1rem 1rem 1rem;
}

.bloc-bull .wrapper--grid-50 {
  overflow-wrap: break-word;
}

body {
  font-family: "Cormorant", serif;
  font-size: 22px;
  font-weight: 500;
}
@media screen and (max-width: 592px) {
  body {
    font-size: 16px;
  }
}

h1,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.heading {
  font-size: 4rem;
  font-weight: 600;
  text-transform: capitalize;
  font-style: italic;
}
@media screen and (max-width: 592px) {
  .heading {
    font-size: 4rem;
  }
}

.subheading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}
@media screen and (max-width: 592px) {
  .subheading {
    font-size: 1.5rem;
  }
}

.title {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: italic;
}

.subtitle {
  font-weight: 500;
  color: black;
  font-size: 1.8rem;
  font-style: italic;
}
@media screen and (max-width: 592px) {
  .subtitle {
    font-size: 1.5rem;
  }
}

p {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, a:focus {
  color: rgb(174, 159, 159);
}

nav {
  font-style: italic;
}

.txt {
  color: #333030;
  text-indent: 5%;
}
.txt--large {
  font-size: 26px;
}
.txt--italic {
  font-style: italic;
}
.txt--center {
  text-align: center;
}
.txt--strong {
  font-weight: 700;
}

.emphase {
  font-style: italic;
  font-weight: bold;
  color: black;
}

header {
  margin: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(217, 195, 166);
}
@media screen and (max-width: 592px) {
  header {
    margin: 1rem;
  }
}

.logo-container {
  height: 120px;
  padding: 0.5rem;
  object-fit: cover;
}
@media screen and (min-width: 592px) {
  .logo-container {
    height: 80px;
  }
}
@media screen and (max-width: 592px) {
  .logo-container {
    height: 60px;
  }
}

.nav {
  display: flex;
}
.nav__link {
  margin-left: 1.5rem;
}
@media screen and (max-width: 592px) {
  .nav__link {
    display: none;
  }
}

.infobulle {
  position: relative;
}
.infobulle:hover:after, .infobulle:focus:after {
  content: attr(aria-label);
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2em;
  width: fit-content;
  white-space: nowrap;
  padding: 0.2em;
  background: #333030;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.dropdown--btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
@media screen and (max-width: 592px) {
  .dropdown--btn {
    display: inline-block;
    margin-right: 1em;
    float: right;
  }
}

.dropdown--menu {
  display: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  transform: translateY(5rem) 2s ease-in;
}

.dropdown__nav {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dropdown__nav ul {
  list-style: none;
  position: absolute;
  top: 0;
}
.dropdown__nav li {
  padding: 10px 20px;
  text-align: center;
  font-size: 48px;
  font-style: italic;
  border-bottom: #333030 solid 0.5px;
}

.dropdown--menu.open {
  display: block;
}

.hidden {
  display: none;
  visibility: hidden;
}

.footer {
  background-color: rgb(217, 195, 166);
  color: white;
  height: auto;
  padding: 1rem;
}

#homepage {
  display: block;
}
#homepage__txt {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: auto;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#homepage__txt .subheading {
  margin-bottom: 2rem;
}
#homepage__txt p {
  font-size: 24px;
  font-weight: 400;
}
#homepage__img-container {
  width: 80%;
  margin: auto;
}

img {
  border: 6px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img--1 {
  width: 80%;
  position: relative;
  left: 5%;
}

#img--2 {
  position: relative;
  top: -30px;
  left: 50%;
  z-index: 1;
  width: 50%;
  object-fit: cover;
}

#img--3 {
  position: relative;
  top: -150px;
  left: 18%;
  z-index: 0;
  width: 35%;
  object-fit: cover;
}

.map-container {
  margin-top: 2rem;
}

.map {
  width: 300px;
  height: 350px;
}
@media screen and (max-width: 592px) {
  .map {
    width: 150px;
    height: 175px;
  }
}

.link {
  border-bottom: 1px solid rgb(174, 159, 159);
  font-weight: bold;
}
.link--contact {
  color: #333030;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px solid rgb(174, 159, 159);
}
.link--mail {
  font-style: italic;
}

.lang__link {
  width: 26px;
  height: 22px;
  object-fit: contain;
}

button {
  border: none;
  background: none;
  padding: none;
}

/*# sourceMappingURL=style.css.map */
