body {
  box-sizing: border-box;
  box-sizing: border-box;

  box-sizing: border-box;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

section {
  padding: 2.5rem 2.5rem;
  height: auto;
}
.indent {
  text-indent: 5%;
}

.wrapper {
  &--grid {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 2rem;
    &-inverse {
      display: grid;
      grid-template-columns: 4fr 6fr;
      gap: 2rem;
    }
    &-50 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      overflow-wrap: break-word;
    }
  }

  &--grid--3col {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
  }
  &--center {
    margin: auto;
    width: 85fr;
  }
}
// .item-left {
//   grid-column-start: 1;
//   // grid-column-end: 2;
// }
// .item-right,
// .item-middle {
//   grid-column-start: 2;
//   // grid-column-end: 3;
// }

.bloc-title {
  margin: 1rem 0;
}
.bloc-txt {
  margin-bottom: 2rem;
  line-height: 1.8;
  text-align: justify;
}

.bloc-txt--center {
  text-align: center;
  margin-bottom: 1rem;
}

.bloc-bull {
  background-color: $color-primary;
  border-radius: 5%;
  padding: 1rem 1rem 1rem 1rem;
}
.bloc-bull .wrapper--grid-50 {
  overflow-wrap: break-word;
}
