header {
    margin : 1.5rem;
    position: relative;
    @include mobile-bp{
        margin : 1rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px  solid rgb(174, 159, 159);
}


.logo-container{
    height: 120px;
    padding: 0.5rem;
    object-fit: cover;
    @include tablette-bp{
        height: 80px;
    }
    @include mobile-bp{
        height: 60px;
    }
}

.nav {
 display: flex;
 &__link{
    margin-left: 1.5rem;
  @include mobile-bp{
    display: none;
  }
}
}
.nav__link--bull {
    position : relative;

    &:hover:after,
    &:focus:after {
        content:attr(aria-label);
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        bottom : -2.5em;
        width: fit-content;
        white-space: nowrap;
        // padding: 1em;
        font-weight: bold;
        color: #333030;
        font-size: 16px;

}
}

.dropdown{
    display: none;
    
    @include mobile-bp{
        display: block;
        margin-right: 2.5em;
        // float: left;
        // overflow: hidden;
    }
    &__btn{
        font-size: 30px;
        cursor: pointer;
    }

    &__menu{
        display: none;
        position: absolute;
        top: 100%;
        right : -1.5em;
        list-style-type: none;
        background-color: antiquewhite;
        padding: 0;
        margin:2px 1.5em 0 0 ;
    }
    &__input{
        display: none;
        // z-index: 1;
        // float: none;
        // right : 1em;
        // top : 4.5em;
        
        

        &:hover + .dropdown__menu,
        &:checked + .dropdown__menu
        {
            display: block;
            display: flex;
            flex-direction: column;
        }
    }
    &__menu li{
        
        padding: 10px 20px;
        text-align: left;
        font-style: italic;
        border-bottom: #333030 solid 0.5px;
    }

  
}


//création du logo en html
// .logo {
//     font-family: "Whisper", cursive;
//     &--1{
//         font-size: 56px;
//         position: relative;
//         top : -20px;
//         @include mobile-bp{
//            font-size: 40px;
//         }

//     }
//     &--2{
//         font-size: 20px;
//         font-weight: 200px;
//         position: relative;
//         left : 64px;
//         top : -46px;
//         @include mobile-bp{
//             font-size: 14px;
//             top: -40px;
//             left: 50px;

//          }


//     }
//     &--3{
//         font-size: 50px;
//         position: relative;
//         top : -70px;
//         left: -2px;
//         @include mobile-bp{
//             font-size: 36px;
//             top :-55px;
//          }

//     }

// }
