header {
  margin: 1.5rem;
  position: relative;
  @include mobile-bp {
    margin: 1rem;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(217, 195, 166);
}

// rgb(222, 183, 147);
.logo-container {
  height: 120px;
  padding: 0.5rem;
  object-fit: cover;
  @include tablette-bp {
    height: 80px;
  }
  @include mobile-bp {
    height: 60px;
  }
}

.nav {
  display: flex;
  &__link {
    margin-left: 1.5rem;
    @include mobile-bp {
      display: none;
    }
  }
}
.infobulle {
  position: relative;

  &:hover:after,
  &:focus:after {
    content: attr(aria-label);
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2em;
    width: fit-content;
    white-space: nowrap;
    padding: 0.2em;
    background: #333030;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
}

.dropdown--btn {
  display: none;
  font-size: 30px;
  cursor: pointer;

  @include mobile-bp {
    display: inline-block;
    margin-right: 1em;
    float: right;
  }
}

.dropdown--menu {
  display: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  transform: translateY(5rem) 2s ease-in;
}

.dropdown__nav {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & ul {
    list-style: none;
    position: absolute;
    top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
  }

  & li {
    padding: 10px 20px;

    text-align: center;
    font-size: 48px;
    font-style: italic;
    border-bottom: #333030 solid 0.5px;
  }
}
.dropdown--menu.open {
  display: block;
}

.hidden {
  display: none;
  // opacity: 0;
  visibility: hidden;
}

// .toggle_btn:hover + .menu,
// .toggle_btn:checked + .menu__content {
//   display: block;
//   display: flex;
//   flex-direction: column;
// }

//création du logo en html
// .logo {
//     font-family: "Whisper", cursive;
//     &--1{
//         font-size: 56px;
//         position: relative;
//         top : -20px;
//         @include mobile-bp{
//            font-size: 40px;
//         }

//     }
//     &--2{
//         font-size: 20px;
//         font-weight: 200px;
//         position: relative;
//         left : 64px;
//         top : -46px;
//         @include mobile-bp{
//             font-size: 14px;
//             top: -40px;
//             left: 50px;

//          }

//     }
//     &--3{
//         font-size: 50px;
//         position: relative;
//         top : -70px;
//         left: -2px;
//         @include mobile-bp{
//             font-size: 36px;
//             top :-55px;
//          }

//     }

// }
